<li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown site-nav--is-megamenu" aria-haspopup="true">
  <a href="/collections/all" class="site-nav__link site-nav__link--underline site-nav__link--has-dropdown">
    All Categories
  </a>

  <div class="site-nav__dropdown megamenu text-left megamenu-custom">
    <div class="page-width">
      <div class="site-nav__dropdown-animate megamenu__wrapper">
        <div class="megamenu__cols">
          <div class="megamenu-col megamenu-col-left">
            <div class="col-wrapper">
              <ul>
                <li class="megamenu-child-items">
                  <div class="child-icon-block">
                    <div class="icon-wrap">
                      <img
                        src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=48,h=48/https://staticprod.sys.flexispot.co.uk/dev/trantor/attachments/e835662f-84cf-4643-8233-832b344df3b5.png"
                        alt="icon"
                      >
                    </div>
                  </div>
                  <a href="/collections/all" class="megamenu-child-title">Office Chairs</a>
                  <div class="megamenu-right-block">
                    <div class="megamenu-inner megamenu-col-inner">
                      <div class="inner-col-left">
                        <div class="inner-wrap">
                          <ul>
                            <li><a href="/collections/all">Home Office</a></li>

                            <li><a href="/collections/all">Commercial Office</a></li>

                            <li><a href="/collections/all">Designer</a></li>

                            <li><a href="/collections/all">Other</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="inner-col-right">
                        <div class="inner-wrap">
                          <h4>Feature products</h4>

                          <ul>
                            <li>
                              <div class="product-image">
                                <a href="/products/phone-booth-solo-zoom" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/phone-booth-white-color3_180x.jpg?v=1654492786"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3><a href="/products/phone-booth-solo-zoom">Phone Booth - Solo Zoom</a></h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/zoom-room-focus-pod" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Booth-M_180x.png?v=1654493126"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3><a href="/products/zoom-room-focus-pod">Zoom Room - Focus Pod</a></h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/meeting-booth-3-4-persons" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Box-L-Orange-FRT_180x.png?v=1654490524"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/meeting-booth-3-4-persons">Meeting Booth - 3 - 4 Persons</a>
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/meeting-booth-4-6-persons" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Booth-L_b08aaa1a-5cd5-43e1-9362-d25ef13313e4_180x.png?v=1654491616"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/meeting-booth-4-6-persons">Meeting Booth - 4 / 6 Persons</a>
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/style-eames-style-office-chair-ea119-fabric" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/ea119_yellow_he282-13_01_1_180x.png?v=1655112317"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/style-eames-style-office-chair-ea119-fabric"
                                      >Eames Style Office Chair EA119 Fabric</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/style-eames-style-office-chair-ea117-fabric" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/ea117_green_he282-47_01_1_180x.png?v=1655112352"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/style-eames-style-office-chair-ea117-fabric"
                                      >Eames Style Office Chair EA117 Fabric</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="megamenu-child-items">
                  <div class="child-icon-block">
                    <div class="icon-wrap">
                      <img
                        src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=48,h=48/https://staticprod.sys.flexispot.co.uk/dev/trantor/attachments/e835662f-84cf-4643-8233-832b344df3b5.png"
                        alt="icon"
                      >
                    </div>
                  </div>
                  <a href="/collections/all" class="megamenu-child-title">Office Tables</a>
                  <div class="megamenu-right-block">
                    <div class="megamenu-inner megamenu-col-inner">
                      <div class="inner-col-left">
                        <div class="inner-wrap">
                          <ul>
                            <li><a href="/collections/all">Home Office</a></li>

                            <li><a href="/collections/all">Commercial single desks</a></li>

                            <li><a href="/collections/all">Triple Desks</a></li>

                            <li><a href="/collections/all">Two Desks</a></li>

                            <li><a href="/collections/all">Work Stations</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="inner-col-right">
                        <div class="inner-wrap">
                          <h4>Feature products</h4>

                          <ul>
                            <li>
                              <div class="product-image">
                                <a href="/products/phone-booth-solo-zoom" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/phone-booth-white-color3_180x.jpg?v=1654492786"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3><a href="/products/phone-booth-solo-zoom">Phone Booth - Solo Zoom</a></h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/zoom-room-focus-pod" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Booth-M_180x.png?v=1654493126"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3><a href="/products/zoom-room-focus-pod">Zoom Room - Focus Pod</a></h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/meeting-booth-3-4-persons" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Box-L-Orange-FRT_180x.png?v=1654490524"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/meeting-booth-3-4-persons">Meeting Booth - 3 - 4 Persons</a>
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/meeting-booth-4-6-persons" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Booth-L_b08aaa1a-5cd5-43e1-9362-d25ef13313e4_180x.png?v=1654491616"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/meeting-booth-4-6-persons">Meeting Booth - 4 / 6 Persons</a>
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/style-eames-style-office-chair-ea119-fabric" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/ea119_yellow_he282-13_01_1_180x.png?v=1655112317"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/style-eames-style-office-chair-ea119-fabric"
                                      >Eames Style Office Chair EA119 Fabric</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/style-eames-style-office-chair-ea117-fabric" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/ea117_green_he282-47_01_1_180x.png?v=1655112352"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/style-eames-style-office-chair-ea117-fabric"
                                      >Eames Style Office Chair EA117 Fabric</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="megamenu-child-items">
                  <div class="child-icon-block">
                    <div class="icon-wrap">
                      <img
                        src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=48,h=48/https://staticprod.sys.flexispot.co.uk/dev/trantor/attachments/e835662f-84cf-4643-8233-832b344df3b5.png"
                        alt="icon"
                      >
                    </div>
                  </div>
                  <a href="/collections/all" class="megamenu-child-title">Breakout Furniture</a>
                  <div class="megamenu-right-block">
                    <div class="megamenu-inner megamenu-col-inner">
                      <div class="inner-col-left">
                        <div class="inner-wrap">
                          <ul>
                            <li><a href="/collections/all">Lounger's</a></li>

                            <li><a href="/collections/all">Coffee Tables</a></li>

                            <li><a href="/collections/all">Side Tables</a></li>

                            <li><a href="/collections/all">Sofa's</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="inner-col-right">
                        <div class="inner-wrap">
                          <h4>Feature products</h4>

                          <ul>
                            <li>
                              <div class="product-image">
                                <a href="/products/phone-booth-solo-zoom" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/phone-booth-white-color3_180x.jpg?v=1654492786"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3><a href="/products/phone-booth-solo-zoom">Phone Booth - Solo Zoom</a></h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/zoom-room-focus-pod" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Booth-M_180x.png?v=1654493126"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3><a href="/products/zoom-room-focus-pod">Zoom Room - Focus Pod</a></h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/meeting-booth-3-4-persons" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Box-L-Orange-FRT_180x.png?v=1654490524"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/meeting-booth-3-4-persons">Meeting Booth - 3 - 4 Persons</a>
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/meeting-booth-4-6-persons" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Booth-L_b08aaa1a-5cd5-43e1-9362-d25ef13313e4_180x.png?v=1654491616"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/meeting-booth-4-6-persons">Meeting Booth - 4 / 6 Persons</a>
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/style-eames-style-office-chair-ea119-fabric" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/ea119_yellow_he282-13_01_1_180x.png?v=1655112317"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/style-eames-style-office-chair-ea119-fabric"
                                      >Eames Style Office Chair EA119 Fabric</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/style-eames-style-office-chair-ea117-fabric" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/ea117_green_he282-47_01_1_180x.png?v=1655112352"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/style-eames-style-office-chair-ea117-fabric"
                                      >Eames Style Office Chair EA117 Fabric</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="megamenu-child-items">
                  <div class="child-icon-block">
                    <div class="icon-wrap">
                      <img
                        src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=48,h=48/https://staticprod.sys.flexispot.co.uk/dev/trantor/attachments/e835662f-84cf-4643-8233-832b344df3b5.png"
                        alt="icon"
                      >
                    </div>
                  </div>
                  <a href="/collections/all" class="megamenu-child-title">Sound Pods</a>
                  <div class="megamenu-right-block">
                    <div class="megamenu-inner megamenu-col-inner">
                      <div class="inner-col-left">
                        <div class="inner-wrap">
                          <ul>
                            <li><a href="/collections/phone-booth">Phone Booth - Solo Zoom</a></li>

                            <li><a href="/collections/focus-room">Zoom Room - Focus Pod</a></li>

                            <li><a href="/collections/meeting-room">Meeting Booth - 3 - 4 Persons</a></li>

                            <li><a href="/collections/pods">Meeting Booth - 4 / 6 Persons</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="inner-col-right">
                        <div class="inner-wrap">
                          <h4>Feature products</h4>

                          <ul>
                            <li>
                              <div class="product-image">
                                <a href="/products/phone-booth-solo-zoom" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/phone-booth-white-color3_180x.jpg?v=1654492786"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3><a href="/products/phone-booth-solo-zoom">Phone Booth - Solo Zoom</a></h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/zoom-room-focus-pod" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Booth-M_180x.png?v=1654493126"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3><a href="/products/zoom-room-focus-pod">Zoom Room - Focus Pod</a></h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/meeting-booth-3-4-persons" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Box-L-Orange-FRT_180x.png?v=1654490524"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/meeting-booth-3-4-persons">Meeting Booth - 3 - 4 Persons</a>
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/meeting-booth-4-6-persons" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/Sound-Booth-L_b08aaa1a-5cd5-43e1-9362-d25ef13313e4_180x.png?v=1654491616"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/meeting-booth-4-6-persons">Meeting Booth - 4 / 6 Persons</a>
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/style-eames-style-office-chair-ea119-fabric" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/ea119_yellow_he282-13_01_1_180x.png?v=1655112317"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/style-eames-style-office-chair-ea119-fabric"
                                      >Eames Style Office Chair EA119 Fabric</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="product-image">
                                <a href="/products/style-eames-style-office-chair-ea117-fabric" class="image-wrap">
                                  <img
                                    src="//office-solutions.com/cdn/shop/products/ea117_green_he282-47_01_1_180x.png?v=1655112352"
                                    alt="#"
                                  >
                                </a>
                              </div>
                              <div class="product-details">
                                <div class="details-wrap">
                                  <h3>
                                    <a href="/products/style-eames-style-office-chair-ea117-fabric"
                                      >Eames Style Office Chair EA117 Fabric</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <!--
                  <li class="megamenu-child-items">
                    <a href="#" class="megamenu-child-title">desk bikes</a>
                    <div class="megamenu-right-block">
                      <div class="megamenu-inner megamenu-col-inner">
                        <div class="inner-col-left">
                          <div class="inner-wrap">
                            <ul>
                              <li><a href="#">2</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="inner-col-right">
                          <div class="inner-wrap">
                            <h4>Feature Products</h4>
                            <ul>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>
                  <li class="megamenu-child-items">
                    <a href="#" class="megamenu-child-title">chairs</a>
                    <div class="megamenu-right-block">
                      <div class="megamenu-inner megamenu-col-inner">
                        <div class="inner-col-left">
                          <div class="inner-wrap">
                            <ul>
                              <li><a href="#">3</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="inner-col-right">
                          <div class="inner-wrap">
                            <h4>Feature Products</h4>
                            <ul>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>
                  <li class="megamenu-child-items">
                    <a href="#" class="megamenu-child-title">accessories</a>
                    <div class="megamenu-right-block">
                      <div class="megamenu-inner megamenu-col-inner">
                        <div class="inner-col-left">
                          <div class="inner-wrap">
                            <ul>
                              <li><a href="#">4</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="inner-col-right">
                          <div class="inner-wrap">
                            <h4>Feature Products</h4>
                            <ul>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                              <li>

                                  <div class="product-image">
                                    <a href="#" class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </a>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3><a href="#">product-title</a></h3>
                                    </div>
                                  </div>


                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>
                  <li class="megamenu-child-items">
                    <a href="#" class="megamenu-child-title">desk stand</a>
                    <div class="megamenu-right-block">
                      <div class="megamenu-inner megamenu-col-inner">
                        <div class="inner-col-left">
                          <div class="inner-wrap">
                            <ul>
                              <li><a href="#">5</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="inner-col-right">
                          <div class="inner-wrap">
                            <h4>Feature Products</h4>
                            <ul>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="#" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="#" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="#" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="#" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>
                  <li class="megamenu-child-items">
                    <a href="#" class="megamenu-child-title">adjustable-beds</a>
                    <div class="megamenu-right-block">
                      <div class="megamenu-inner megamenu-col-inner">
                        <div class="inner-col-left">
                          <div class="inner-wrap">
                            <ul>
                              <li><a href="#">9</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                              <li><a href="#">height adjustabe desks</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="inner-col-right">
                          <div class="inner-wrap">
                            <h4>Feature Products</h4>
                            <ul>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="https://staticprod.app.flexispot.co.uk/cdn-cgi/image/dpr=1,format=webp,w=260,h=260/https://staticprod.sys.flexispot.co.uk/flexispot/catalog/product/v/9/v9-400.jpg" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="#" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="#" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="#" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <div class="product-image">
                                    <div class="image-wrap">
                                      <img src="#" alt="#">
                                    </div>
                                  </div>
                                  <div class="product-details">
                                    <div class="details-wrap">
                                      <h3>product-title</h3>
                                    </div>
                                  </div>

                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>
                -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
