<!-- ClickCease.com Conversion tracking -->
<script type="text/javascript">
  ccConVal = {{order.subtotal_price}};
  var script = document.createElement("script");
  script.async = true;
  script.type = "text/javascript";
  var target = 'https://www.clickcease.com/monitor/cccontrack.js';
  script.src = target; var elem = document.head; elem.appendChild(script);
</script>
<noscript>
  <a href="https://www.clickcease.com" rel="nofollow"
    ><img
      src="https://monitor.clickcease.com/conversions/conversions.aspx?value={{order.subtotal_price}}"
      alt="ClickCease"
  ></a>
</noscript>
<!-- ClickCease.com Conversion tracking -->
