<div class="instafeed-new-layout-container" data-feed-id="24765" style="width: 626px; height: unset;">
  <div
    class="instafeed-new-layout-wrapper"
    data-feed-id="24765"
    style="gap: 5.21667px; display: grid; grid-template-columns: repeat(6, 1fr);"
  >
    <div class="instafeed-new-layout-item" data-feed-id="24765" style="width: 99.9861px; height: 99.9861px;">
      <img
        style="border-radius:0px;"
        class="instafeed-lazy-image instafeed-lazy-image--handled"
        src="https://scontent.cdninstagram.com/v/t51.2885-15/454353133_997734212142294_7226408678046250383_n.jpg?_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=POvWjQgJHQcQ7kNvgG398gb&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYBzz6rblLfp_FBefEQ1TvUS_x6C3qu6_eH6W0RUuvD6nA&amp;oe=66C12EC9"
        data-src="https://scontent.cdninstagram.com/v/t51.2885-15/454353133_997734212142294_7226408678046250383_n.jpg?_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=POvWjQgJHQcQ7kNvgG398gb&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYBzz6rblLfp_FBefEQ1TvUS_x6C3qu6_eH6W0RUuvD6nA&amp;oe=66C12EC9"
        alt="Instagram post with the caption: 'With their interior projects featured in several nationwide maga...'"
      >
      <div
        tabindex="0"
        aria-haspopup="true"
        aria-label="open post"
        class="instafeed-new-layout-item-container  "
        data-instafeed-open-id="1-feed-24765"
      >
        <div
          class="instafeed-hover-layer "
          data-feed-id="24765-image"
          data-instafeed-open-id="1-feed-24765"
          style="border-radius:0px;"
        >
          <div class="instafeed-hover-icon">
            <img
              class="instafeed-lazy-image instafeed-lazy-image--handled"
              src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              data-src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
    <div class="instafeed-new-layout-item" data-feed-id="24765" style="width: 99.9861px; height: 99.9861px;">
      <img
        style="border-radius:0px;"
        class="instafeed-lazy-image instafeed-lazy-image--handled"
        src="https://scontent.cdninstagram.com/v/t51.2885-15/454567754_1878103736029092_6013227682213247440_n.jpg?_nc_cat=107&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=-xhDggaXLP4Q7kNvgF63SX7&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYARDIk0wt4z9ph-0ABWNOoCvlCfyh2i8DsChQsuwBRcRA&amp;oe=66C14C10"
        data-src="https://scontent.cdninstagram.com/v/t51.2885-15/454567754_1878103736029092_6013227682213247440_n.jpg?_nc_cat=107&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=-xhDggaXLP4Q7kNvgF63SX7&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYARDIk0wt4z9ph-0ABWNOoCvlCfyh2i8DsChQsuwBRcRA&amp;oe=66C14C10"
        alt="
          Instagram post with the caption: '🚨 Customer Question of the Week! 🚨

          How well ventilated are th...'
        "
      >
      <div
        tabindex="0"
        aria-haspopup="true"
        aria-label="open post"
        class="instafeed-new-layout-item-container  "
        data-instafeed-open-id="2-feed-24765"
      >
        <div
          class="instafeed-hover-layer "
          data-feed-id="24765-image"
          data-instafeed-open-id="2-feed-24765"
          style="border-radius:0px;"
        >
          <div class="instafeed-hover-icon">
            <img
              class="instafeed-lazy-image instafeed-lazy-image--handled"
              src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              data-src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
    <div class="instafeed-new-layout-item" data-feed-id="24765" style="width: 99.9861px; height: 99.9861px;">
      <img
        style="border-radius:0px;"
        class="instafeed-lazy-image instafeed-lazy-image--handled"
        src="https://scontent.cdninstagram.com/v/t51.29350-15/454165294_364092309897738_1037173028147536315_n.jpg?_nc_cat=104&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=xBjZbMnFu3QQ7kNvgHZOUG1&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYDrcRNIHxvh_RgKbE2Wf33sAEVGEuhRZLMGwUIVbpzhlQ&amp;oe=66C12C58"
        data-src="https://scontent.cdninstagram.com/v/t51.29350-15/454165294_364092309897738_1037173028147536315_n.jpg?_nc_cat=104&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=xBjZbMnFu3QQ7kNvgHZOUG1&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYDrcRNIHxvh_RgKbE2Wf33sAEVGEuhRZLMGwUIVbpzhlQ&amp;oe=66C12C58"
        alt="Instagram post with the caption: 'At 1.5m x 1.2m, the Quell 2-Person Office Booth is one of our mo...'"
      >
      <div
        tabindex="0"
        aria-haspopup="true"
        aria-label="open post"
        class="instafeed-new-layout-item-container  "
        data-instafeed-open-id="3-feed-24765"
      >
        <div
          class="instafeed-hover-layer "
          data-feed-id="24765-video"
          data-instafeed-open-id="3-feed-24765"
          style="border-radius:0px;"
        >
          <div class="instafeed-hover-icon">
            <img
              class="instafeed-lazy-image instafeed-lazy-image--handled"
              src="https://instafeed.nfcube.com/assets/img/video-icon-v3.png"
              data-src="https://instafeed.nfcube.com/assets/img/video-icon-v3.png"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
    <div class="instafeed-new-layout-item" data-feed-id="24765" style="width: 99.9861px; height: 99.9861px;">
      <img
        style="border-radius:0px;"
        class="instafeed-lazy-image instafeed-lazy-image--handled"
        src="https://scontent.cdninstagram.com/v/t51.2885-15/453770512_1197721641429464_4362081393339348164_n.jpg?_nc_cat=104&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=gsum2e0V-pYQ7kNvgHekUhf&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYC41aGsiRt22sPb9vr-uS1IxLhkg_6uE8D6wiE16OeLew&amp;oe=66C14046"
        data-src="https://scontent.cdninstagram.com/v/t51.2885-15/453770512_1197721641429464_4362081393339348164_n.jpg?_nc_cat=104&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=gsum2e0V-pYQ7kNvgHekUhf&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYC41aGsiRt22sPb9vr-uS1IxLhkg_6uE8D6wiE16OeLew&amp;oe=66C14046"
        alt="Instagram post with the caption: 'If your campus needs new ways to provide quiet workspaces – for ...'"
      >
      <div
        tabindex="0"
        aria-haspopup="true"
        aria-label="open post"
        class="instafeed-new-layout-item-container  "
        data-instafeed-open-id="4-feed-24765"
      >
        <div
          class="instafeed-hover-layer "
          data-feed-id="24765-image"
          data-instafeed-open-id="4-feed-24765"
          style="border-radius:0px;"
        >
          <div class="instafeed-hover-icon">
            <img
              class="instafeed-lazy-image instafeed-lazy-image--handled"
              src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              data-src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
    <div class="instafeed-new-layout-item" data-feed-id="24765" style="width: 99.9861px; height: 99.9861px;">
      <img
        style="border-radius:0px;"
        class="instafeed-lazy-image instafeed-lazy-image--handled"
        src="https://scontent.cdninstagram.com/v/t51.2885-15/453667821_1491020801803943_5481576244407597618_n.jpg?_nc_cat=109&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=SSNrLi_vqWQQ7kNvgG_ynFM&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYAxkzVIt1gEWQK4jInOiqmuq70VzYT33WQJW9BcQSJklA&amp;oe=66C13876"
        data-src="https://scontent.cdninstagram.com/v/t51.2885-15/453667821_1491020801803943_5481576244407597618_n.jpg?_nc_cat=109&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=SSNrLi_vqWQQ7kNvgG_ynFM&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYAxkzVIt1gEWQK4jInOiqmuq70VzYT33WQJW9BcQSJklA&amp;oe=66C13876"
        alt="
          Instagram post with the caption: '🚨 Customer Question of the Week! 🚨

          How soon will my order arr...'
        "
      >
      <div
        tabindex="0"
        aria-haspopup="true"
        aria-label="open post"
        class="instafeed-new-layout-item-container  "
        data-instafeed-open-id="5-feed-24765"
      >
        <div
          class="instafeed-hover-layer "
          data-feed-id="24765-image"
          data-instafeed-open-id="5-feed-24765"
          style="border-radius:0px;"
        >
          <div class="instafeed-hover-icon">
            <img
              class="instafeed-lazy-image instafeed-lazy-image--handled"
              src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              data-src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
    <div class="instafeed-new-layout-item" data-feed-id="24765" style="width: 99.9861px; height: 99.9861px;">
      <img
        style="border-radius:0px;"
        class="instafeed-lazy-image instafeed-lazy-image--handled"
        src="https://scontent.cdninstagram.com/v/t51.2885-15/453448709_412200148634449_7505244942502835114_n.jpg?_nc_cat=109&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=2e2ESNkbsmYQ7kNvgE5SL4-&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYDEQXHiM5kW-PNIwF1HKjrSDPtzabU7UopSV0ZeuxoFVA&amp;oe=66C14C64"
        data-src="https://scontent.cdninstagram.com/v/t51.2885-15/453448709_412200148634449_7505244942502835114_n.jpg?_nc_cat=109&amp;ccb=1-7&amp;_nc_sid=18de74&amp;_nc_ohc=2e2ESNkbsmYQ7kNvgE5SL4-&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AYDEQXHiM5kW-PNIwF1HKjrSDPtzabU7UopSV0ZeuxoFVA&amp;oe=66C14C64"
        alt="
          Instagram post with the caption: 'What makes the perfect office lounge chair? We think it should:
          ...'
        "
      >
      <div
        tabindex="0"
        aria-haspopup="true"
        aria-label="open post"
        class="instafeed-new-layout-item-container  "
        data-instafeed-open-id="6-feed-24765"
      >
        <div
          class="instafeed-hover-layer "
          data-feed-id="24765-image"
          data-instafeed-open-id="6-feed-24765"
          style="border-radius:0px;"
        >
          <div class="instafeed-hover-icon">
            <img
              class="instafeed-lazy-image instafeed-lazy-image--handled"
              src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              data-src="https://instafeed.nfcube.com/assets/img/instagram-icon-v2.svg"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
