<ul class="sales-points">
  <li class="sales-point">
    <span class="icon-and-text">
      <span class="icon icon--inventory" style="margin-right:0"></span>
      <span data-quantity="1" data-product-inventory="" data-threshold="0">*IN STOCK NOW </span>
    </span>
  </li>
</ul>

<div data-product-id="7836616818913" class="hide js-product-inventory-data" aria-hidden="true">
  <div
    class="js-variant-inventory-data"
    data-id="43305468330209"
    data-quantity="1"
    data-incoming="false"
    data-date=""
  ></div>
  <div
    class="js-variant-inventory-data"
    data-id="43305191407841"
    data-quantity="0"
    data-incoming="false"
    data-date=""
  ></div>
  <div
    class="js-variant-inventory-data"
    data-id="43305468231905"
    data-quantity="5"
    data-incoming="false"
    data-date=""
  ></div>
  <div
    class="js-variant-inventory-data"
    data-id="43305468297441"
    data-quantity="3"
    data-incoming="false"
    data-date=""
  ></div>
  <div
    class="js-variant-inventory-data"
    data-id="43305468362977"
    data-quantity="12"
    data-incoming="false"
    data-date=""
  ></div>
</div>
