<ul class="sales-points">
  <li class="sales-point">
    <span class="icon-and-text">
      <span class="icon icon--inventory" style="margin-right:0"></span>
      <span data-quantity="1" data-product-inventory="" data-threshold="0">*IN STOCK NOW </span>
    </span>
  </li>
</ul>
