<div class="page-width">
 {%- render 'collection-recommendations', mainproduct: product, collection: section.settings.collection, location: 'drawer' -%}
</div>
{% schema %}
{
  "name": "Upsell Collection",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Goes great with"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Upsell Collection",
      "settings": {
        
      }
    }
  ]
}
{% endschema %}
