{% if section.settings.title %}
  <h1 style="display:none">{{ section.settings.title }}</h1>
{% endif %}
{% schema %}
{
  "name": "Missing h1",
  "class": "hidden",
  "settings": [{
         "type": "text",
         "id": "title",
         "label": "Title"
  }],
   "presets": [
     {
       "name": "Missing h1",
       "blocks": []
     }
   ]
}
{% endschema %}
