{% for block in section.blocks %}
  <a
    style="display:none"
    href="{{ block.settings.image | image_url }}"
    class="image-wrap"
    data-fancybox="{{ section.id }}-{{ block.id }}"
    data-caption="{{block.settings.image.alt }}"
  >
  </a>
{% endfor %}
<div style="height: min(60vw,400px);display:flex;background: #f1f1f1;flex-wrap: wrap;">
  <div style="overflow:hidden;position: relative;/* flex: 1; */min-width: 300px;width: 40%;">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9929.028635293496!2d-0.096887!3d51.526843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48766721d213ddd3%3A0xdd26ef6f7b7027b8!2sSoundbox%20Store!5e0!3m2!1sen!2s!4v1724079900595!5m2!1sen!2s"
      width="600"
      height="450"
      style="
                 border: 0;
        position: absolute;
        min-width: 100%;
        height: 100%;
        top: 0;
        left: -300px;
        max-width: unset;
        filter: grayscale(1);
        pointer-events: none;
        right: -300px;
        width: calc(100vw + 600px);
      "
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      data-lf-form-tracking-inspected-belvo73qlzeazmqj="true"
      data-lf-yt-playback-inspected-belvo73qlzeazmqj="true"
      data-lf-vimeo-playback-inspected-belvo73qlzeazmqj="true"
    ></iframe>
  </div>
  <ul
    style="    flex: 1;"
  >
    <li></li>
  </ul>
</div>
<link
  rel="stylesheet"
  type="text/css"
  defer
  async
  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" defer async></script>

{% schema %}
{
  "name": "ShowRoom lightbox",
  "settings": [

  ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "ShowRoom gallery"

    }
  ]
}
{% endschema %}
