<script src="https://cdn.tailwindcss.com"></script>
<img
  src="https://play.tailwindcss.com/img/beams.jpg"
  alt=""
  class="fixed left-1/2 top-1/2 -z-20 max-w-none -translate-x-1/2 -translate-y-1/2"
  width="1308"
>
<div
  class="absolute inset-0 -z-10 bg-[url(https://play.tailwindcss.com/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
></div>
<section class="relative z-10">
  <div class="w-full md:flex md:min-h-[600px] md:items-center md:py-12">
    {% if section.settings.image %}
      {{
        section.settings.image
        | image_url: width: 1440
        | image_tag: class: 'inset-0 -z-10 h-full w-full object-cover md:absolute'
      }}
    {% else %}
      <div class="inset-0 -z-10 h-full w-full object-cover md:absolute bg-gray-300"></div>
    {% endif %}

    <div class="p-4 md:w-1/2 md:bg-white md:p-12">
      <h1 class="text-4xl font-semibold md:text-5xl">{{ section.settings.heading }}</h1>
      <div class="my-4 md:my-8 md:text-2xl">
        {{ section.settings.content }}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "sustainability-hero",
  "settings":[{
          "type": "text",
          "id": "heading",
          "label": "Heading",
    "default":"Embracing Sustainability"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
            "default":"<p>As a pioneer in crafting soundproof phone booths, office pods, and meeting rooms for businesses, we take pride in our unwavering commitment to eco-friendly manufacturing practices. Join us as we embark on a journey toward agreener future, one sustainable product at a time.</p>"
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
  }],
  "presets": [
    {
      "name": "sustainability-hero",
      "blocks": []
    }
  ]
}
{% endschema %}
