<div class="page-width "></div>
{% schema %}
  {
    "name": "trade-accounts-resellers",
    "settings": [],
     "presets": [
  {
    "name": "trade-accounts-resellers",
    "blocks": []
  }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
