<div>
{{ section.settings.external_video_url | external_video_url: color: 'white' | external_video_tag }}  
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/XKGY_x06k1I?si=s8rGyn53M-jBXKxy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% schema %}
  {
    "name": "Youtube section",
    "settings": [
     {
  "type": "video_url",
  "id": "external_video_url",
  "label": "Youtube video",
  "accept": [
    "youtube"
  ]
}
    ],
      "presets": [{
    "name": "Youtube section"
  }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}