<div>
{{ section.settings.external_video_url | external_video_url: color: 'white' | external_video_tag }}  
</div>
{% schema %}
  {
    "name": "Youtube section",
    "settings": [
     {
  "type": "video_url",
  "id": "external_video_url",
  "label": "Youtube video",
  "accept": [
    "youtube"
  ]
}
    ],
      "presets": [{
    "name": "Youtube section"
  }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}