.site-header .tw-dropdown{position:relative}
.site-header .tw-dropdown .tw-btn{font-family: Banana Grotesk;position: relative;background:transparent;padding: 9px 15px;cursor:pointer;border:1px solid;font-size: 14px; line-height: 1.2; display: flex; align-items: center; text-transform: uppercase; justify-content: center;}
.site-header .tw-dropdown .tw-dropdown-content{position: absolute; background-color: #fff; min-width: 300px; right: 0px; top: 38px; border: 1px solid #222;padding: 20px;opacity:0;visibility:hidden;}
.site-header .tw-dropdown .tw-dropdown-content a{display: flex; padding: 7px 0; font-size: 16px; line-height: 1.2; align-items: center; justify-content: space-between;text-transform: capitalize;}
.site-header .tw-dropdown .tw-dropdown-content a:hover{font-weight:700}
.site-header .tw-dropdown .tw-btn img{border-radius:100%;object-fit:cover;width:20px;height:20px;margin-right: 5px;}
.site-header .tw-dropdown .tw-dropdown-content a img{border-radius:100%;object-fit:cover;width:20px;height:20px;}
.site-header .header-item--icons .site-nav{margin:0}
.page-case-study .brand-details-slider .slide:not(:last-child){margin-bottom:50px}
.page-faqs .faq-section{padding:50px 0}
.page-faqs .faq-section .page-width{max-width:1280px;margin:0 auto}
.page-faqs .faq-section .accordion .accordion-content{display:none}
.page-faqs .faq-section .title-block{padding:30px 0}
.page-faqs .faq-section .title-block h2{font-family: Banana Grotesk; text-transform: capitalize; margin: 0; font-size: 25px; line-height: 1; font-weight: 600;letter-spacing: 1.5px;}
.page-faqs .faq-section .accordion .accordion-title{position:relative;margin:0;font-size: 22px; line-height: 1;padding-right: 30px;}
.page-faqs .faq-section .accordion .accordion-title:before{content: ""; position: absolute; top: 50%; right: 10px; transform: translateY(-50%) rotate(45deg); width: 12px; height: 13px; border-bottom: 1px solid #000; border-right: 1px solid #000; margin-top: -5px;transition:all 0.2s ease-in}
.page-faqs .faq-section .accordion .accordion-title.active:before{transform:rotate(-132deg) translateY(-50%)}
.page-faqs .faq-section .accordion {background: #FAFBFA;border: 1px solid #f2f2f2;padding: 20px;margin-bottom: 20px;cursor: pointer;}
.page-faqs .faq-section .accordion .accordion-content-wrap {padding: 20px;}
.page-faqs .faq-section .accordion .accordion-content-wrap p{font-size:18px;line-height:1.5}
.heading-section .heading-wrap{padding: 50px 15px; text-align: center; max-width: 650px; margin: 0 auto;}
.heading-section .heading-wrap .subheading-text p{font-size: 16px; line-height: 1.3;}
#shopify-product-reviews .spr-pagination{display:none !important}

/* .template-product .page-content--product .page-width{max-width:1440px} */
/* .template-product .furniture-variant .variant-input-wrap{max-width:80%} */
body .pswp__ui .btn{height:63px;}

.template-product .color-variant .variant-input:hover:after{content: attr(data-value); position: absolute; font-size: 12px; bottom: -15px; background: #303a44;z-index:1;color: #fff; padding: 4px 7px 5px 7px; line-height: 1;left: 50%; transform: translateX(-50%); white-space: nowrap;border-radius:2px}
.product-icon-text-section .flexbox{margin:0 -15px;align-items:center}
.product-icon-text-section .flexbox .col{flex:1;padding: 0 15px;}
.product-icon-text-section .page-width{max-width:1440px}
.product-icon-text-section{padding-top:30px;padding-bottom: 30px;margin:30px 0 40px 0;border-top: 1px solid #e8e8e1;border-bottom: 1px solid #e8e8e1;}
.product-icon-text-section .flexbox .col .icon-text-block { display: flex; align-items: center; justify-content: center; }

.product-icon-text-section .flexbox .col .icon-text-block .text-block p{font-size:18px;line-height:1.2;}
.product-icon-text-section .flexbox .col .icon-text-block .icon-wrap { margin-right: 10px; max-width: 60px; display: flex; align-items: center; }

.template-product .page-content--product .product-left-col-wrap .product-main-slide{border:none}


body .product-image-main[data-size="square"] .image-wrap{padding-bottom:85% !important}

.template-product .logo-list .title-font{line-height:1}
.meeting-rooms-features{margin-bottom:60px;border-bottom:1px solid #e8e8e1;padding-bottom:60px;overflow:hidden}

.template-product .index-section.acoustic-section{margin-bottom:0}


.meeting-rooms-features .flexbox .col.left-col,.meeting-rooms-features .flexbox .col.right-col{max-width:25%;width:100%}
.meeting-rooms-features .features-list{flex-direction:column}
.meeting-rooms-features .flexbox .col.center-col{max-width:45%;width:100%;text-align:center}
.meeting-rooms-features .flexbox .col .col-wrap{width:100%}
.meeting-rooms-features .flexbox .col.center-col img{max-width:100%}
.meeting-rooms-features .flexbox .col.right-col{text-align:right}

.meeting-rooms-features .page-width{max-width:1440px}

.template-collection .collection-btn-group .specBtn{
    border: 2px solid #303A44;
    width: 100%;
    max-width: 200px;
    text-align: center;
    padding: 22px 15px;
    line-height: 1;
}
.template-index .image-text-section .btn.specBtn,.template-product .image-text-section .btn.specBtn{
border:2px solid #fff;
  background-color:#fff;
    line-height: 1;
  margin-left:10px
}

.klaviyo-form .needsclick .ql-container h2 strong{font-family: Banana Grotesk !important;text-transform: capitalize !important;}


.klaviyo-form .needsclick label.needsclick > .needsclick{font-size:14px !important}
.klaviyo-form .needsclick button[type="button"].needsclick{font-family: Banana Grotesk !important;}


.template-product span.vat_text {font-size: 15px;}








@media only screen and (min-width:769px){
  .site-header .tw-dropdown:hover .tw-dropdown-content{opacity:1;visibility:visible;transition:all 0.3s ease-in-out}
}

@media only screen and (max-width:1260px){
  .template-product .furniture-variant .variant-input-wrap{max-width:100%}
  .template-product .color-variant .variant-input:hover:after{bottom:unset;top:calc(100% - 11px);}
}
@media only screen and (max-width:860px){
.template-product .page-content--product .product-left-col-wrap .product__thumbs .product__thumb-arrow{display:none}
  .template-product .page-content--product .product-left-col-wrap .product__thumbs .product__thumbs--scroller{display:flex;position:relative;overflow-x:scroll;overflow-y:unset;flex-direction:unset;justify-content:unset}
  .template-product .page-content--product .product-left-col-wrap .product__photos{display:block}
  .template-product .page-content--product .product-left-col-wrap .product__thumbs{max-width:100%;margin-left:0}
  .template-product .page-content--product .product-left-col-wrap .product__thumbs .product__thumbs--scroller .product__thumb-item .image-wrap {padding-bottom: 70px!important;}
  .template-product .page-content--product .product-left-col-wrap .product__thumbs .product__thumbs--scroller .product__thumb-item{min-width:50px;max-width:100%}
  .product-icon-text-section{padding-top: 20px;padding-bottom: 20px;margin: 50px 0;}
  .product-icon-text-section .flexbox .col .icon-text-block .text-block p{font-size:14px}
  .template-collection .collection-btn-group .specBtn{max-width: 150px;padding: 14px 10px;}
  
}


@media only screen and (max-width:768px){
  .page-faqs .faq-section {padding: 30px 0;}
  .site-header .site-nav .language-drpodown{display:none}
  .site-header .mobile-menu .language-drpodown{padding-top:25px}
  .site-header .mobile-menu .tw-dropdown .tw-dropdown-content{display:none;visibility:visible;opacity:1;position:relative;min-width:unset;top:0;margin-top:10px}
  .page-case-study .brand-details-slider .slide:not(:last-child){margin-bottom:30px}
  .page-faqs .faq-section .accordion .accordion-content-wrap {padding: 20px;padding-left: 0;padding-right: 0;}
  .page-faqs .faq-section .accordion .accordion-title{font-size: 18px;}
  .page-faqs .faq-section .accordion .accordion-content-wrap p {font-size: 16px;line-height: 1.2;}
  .page-faqs .faq-section .title-block {padding: 20px 0;}
  .page-faqs .faq-section .title-block h2{font-size:18px}
  .heading-section .heading-wrap {padding: 35px 15px;}
  .meeting-rooms-features {margin-bottom:40px;padding-bottom:40px;}
}


@media only screen and (max-width:1438px) and (min-width:1200px){
.google-map-section .calendly-app-data {border: 1px solid rgba(26,26,26,.1);border-radius:8px}
}