@font-face {
  font-family: 'Banana Grotesk';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Semibold.eot?v=8848976968443444759);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Semibold.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Semibold.woff2?v=1829346237147689780) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Semibold.woff?v=13325129311442515089) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Semibold.ttf?v=14007515455048854987) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Semibold.svg%23BananaGrotesk-Semibold?35745) format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Medium.eot?v=8099551578914933442);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Medium.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Medium.woff2?v=622269026593974345) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Medium.woff?v=13676964060951211344) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Medium.ttf?v=10893139129150417861) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Medium.svg%23BananaGrotesk-Medium?35745) format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Regular.eot?v=371233579198626363);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Regular.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Regular.woff2?v=9283836051938056396) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Regular.woff?v=12096314496935005241) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Regular.ttf?v=15506803819972842386) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Regular.svg%23BananaGrotesk-Regular?35745) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Thin.eot?v=6219881460852648788);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Thin.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Thin.woff2?v=8308851804507039526) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Thin.woff?v=17348504579217944012) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Thin.ttf?v=259003280574510193) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Thin.svg%23BananaGrotesk-Thin?35745) format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Light.eot?v=16108577926683356959);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Light.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Light.woff2?v=3974662949988850135) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Light.woff?v=16099176700270086437) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Light.ttf?v=11664049411279033003) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Light.svg%23BananaGrotesk-Light?35745) format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Bold.eot?v=13562392855982602203);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Bold.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Bold.woff2?v=15298780574639192999) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Bold.woff?v=13462660425513077227) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Bold.ttf?v=1620079912773182188) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Bold.svg%23BananaGrotesk-Bold?35745) format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extrabold.eot?v=17490535899108953226);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extrabold.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extrabold.woff2?v=1322845037856470412) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extrabold.woff?v=2616491933549635459) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extrabold.ttf?v=3498847616619794080) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extrabold.svg%23BananaGrotesk-Extrabold?35745) format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extralight.eot?v=8724672283810506844);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extralight.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extralight.woff2?v=8973790037490509351) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extralight.woff?v=3197825405586346351) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extralight.ttf?v=9907521200115589525) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/BananaGrotesk-Extralight.svg%23BananaGrotesk-Extralight?35745) format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeue.eot?v=2219187865828131539);
  src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeue.eot?%23iefix&35745) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeue.woff2?v=16493905460186073985) format('woff2'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeue.woff?v=18227716134498605152) format('woff'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeue.ttf?v=9160667087604673646) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeue.svg%23HelveticaNeue?35745) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeueMedium.eot?v=17033575705931534886);
    src: url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeueMedium.eot?%23iefix&35745) format('embedded-opentype'),
        url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeueMedium.woff2?v=1708485577246322186) format('woff2'),
        url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeueMedium.woff?v=7750568775690107160) format('woff'),
        url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeueMedium.ttf?v=8504267018793541678) format('truetype'),
        url(//cdn.shopify.com/s/files/1/0631/9892/0929/files/HelveticaNeueMedium.svg%23HelveticaNeueMedium?35745) format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
