  @media only screen and (max-width:1024px) {
    .image-text-section .image-wrap .desktop-only {
      display: none;
    }
  }
  .image-text-section .image-wrap .mobile-only {
    display: none;
  }
  @media only screen and (max-width:1024px) {
    .image-text-section .image-wrap .mobile-only {
      display: block;
      min-height: 337px;
      object-fit: cover;
    }
  }
.image-text-section,.image-text-section--style_white-black,
.image-text-section--style_default{
  --color:#fff;
  --bg:var(--colorBtnPrimary);
}
.image-text-section--style_black-white{
    --color:#000;
  --bg:#fff;
}

 .image-text-section .section-content {
   color:var(--color);
 }
.image-text-section .section-content  .btn{
  background:var(--color);
  color:var(--bg);
}