  @media only screen and (max-width:1024px) {
    .image-text-section .image-wrap .desktop-only {
      display: none;
    }
  }
  .image-text-section .image-wrap .mobile-only {
    display: none;
  }
  @media only screen and (max-width:1024px) {
    .image-text-section .image-wrap .mobile-only {
      display: block;
      min-height: 337px;
      object-fit: cover;
    }
  }
.image-text-section--style_default{
  --color:#fff;
  --bg:#000
}